    /* #for Mobile */
@media screen and (max-width: 600px) { 
    .buttons{
    width: 343px;
    height: 40px;
    top: 85px;
    left: 23%;
    font-family: Outfit;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.03em;
    text-align: center;
    color: rgba(54, 69, 79, 1);
    position: relative;
    
    }
    .services{
    width: 300px;
    height: 95px;
    top: 55px;
    left: 22%;
    text-align: center;
    /* left: 38px; */
    border-radius: 25px;
    color: 2px solid rgba(10, 86, 241, 1);
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    }
    .center{
        position: relative;/* Take up the full width */
        text-align: center;
        width: 110px;
        height: 20px;
        margin: 12px;
        display: flex;
        margin: auto;
        padding-left: 12px;
        /* flex-grow: 1; */
        align-self: center;
        font-family: Outfit;
        font-size: 10px;
        font-weight: 600;
        line-height: 15px;
        letter-spacing: 0.03em;
        color: rgba(10, 86, 241, 1);
            position: relative;
            border: 2px solid rgba(10, 86, 241, 1);
    }
    .service{
        width: 110px;
        height: 20px;
        margin: 12px;

        
        font-family: Outfit;
        font-size: 10px;
        font-weight: 600;
        line-height: 15px;
        letter-spacing: 0.03em;
        color: rgba(10, 86, 241, 1);
            position: relative;
            border: 2px solid rgba(10, 86, 241, 1);
    }
    .buttons-end{
    width: 343px;
    height: 40px;
    top: 75px;
    left: 24%;
    font-family: Outfit;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.03em;
    text-align: center;
    position: relative;
    color: rgba(54, 69, 79, 1);
    
    }
    .heading{
        display: none;
    }
    .image-8{
    width: 375px;
    height: 240px;
    bottom : 155px;
    position: relative;
    left: 16%;
    
    }
    .content-left-heading-2{
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 23px;
    top: 260px;
    left: 22%;
    font-family: Outfit;
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(230, 143, 80, 1);
    position: relative;
    
    }
    .content-left-text-1{
    width: 343px;
    height: 176px;
    top: 280px;
    /* right: 54px; */
    margin: auto;
    left: 20%;
    /* left: 16px; */
    font-family: Outfit;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    position: relative;
    color: rgba(54, 69, 79, 1);
    
    }
    .cost{
    width: 230px;
    height: 45px;
    top: 0px;
    left: 68px;
    border-radius: 50px;
    position: relative;
    
    }
    .content-left{
        display: flex;
        justify-content: center;
        align-items: center;
    }
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
}
/* for bigger screeens */
@media (min-width:768px) {
.content-new{
    width: 1280px;
    position: relative;
    height: 685px;
    top: 170px;
    bottom: 80px;
    left: 80px;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 25px;
    }
.content-left-heading-2{
    width: 569px;
    position: absolute;
    height: 100px;
    top: 30px;
    left: 70px;
    font-family: Outfit;
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    color: #0A56F1;
    } 
.content-left-text-1{
    position: absolute;
    width: 675px;
    height: 280px;
    top: 110px;
    left: 70px;
    font-family: Outfit;
    font-size: 22px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #36454F; 
    }
.heading{
display: flex;
justify-content: center;
align-items: center;
position: relative;
width: 754px;
height: 100px;
top: 80px;
left: 343px;
font-family: Outfit;
font-size: 40px;
font-weight: 600;
line-height: 50px;
letter-spacing: 0em;
text-align: center;
color: #E68F50;
}
.buttons{
display: flex;
justify-content: center;
align-items: center;
position: relative;
width: 552px;
height: 28px;
/* top: 960px; */
left: 444px;
font-family: Outfit;
font-size: 22px;
font-weight: 600;
line-height: 28px;
letter-spacing: 0.03em;
text-align: center;
color: black;
}
.service,.center{
margin-top: 2px;
width: 240px;
height: 45px;
top: 1008px;
left: 388px;
border-radius: 25px;
border: 2px solid #0A56F1;
background-color: white;
font-family: Outfit;
color: #0A56F1;
font-family: Outfit;
font-size: 20px;
text-align: center;
font-weight: 600;
line-height: 28px;
letter-spacing: 0.03em;
text-align: left;
display: flex;
justify-content: center;
align-items: center;


}
.services{
    display: flex;
    justify-content: space-evenly;
}
.buttons-end{
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Outfit;
font-size: 22px;
font-weight: 600;
line-height: 28px;
letter-spacing: 0.03em;
text-align: left;

}
.image-8{
    position: relative;
    width: 549px;
    height: 550px;
    left: 760px;
    }
}