


@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Outfit&family=Roboto&display=swap');
@media screen and (max-width: 600px) {
    .nav{
        display: none
    };
}
.content-left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper-4{
width: 1280px;
height: 685px;
top: 100px;
position: relative;
left: 80px;
background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
}
.image{
width: 300px;
height: 270.98px;
position: relative;
bottom: 160px;
left: 14%;
}
.content-left-heading{
width: 329px;
height: 23px;
top: 310px;
position: relative;
display: flex;
justify-content: center;
align-items: center;
left: 13.5%;
font-family: Outfit;
font-size: 18px;
font-weight: 600;
line-height: 23px;
letter-spacing: 0em;
text-align: left;
color: rgba(10, 86, 241, 1);

}
.content-left-text{
    width: 343px;
height: 192px;
top: 340px;
left: 11.9%;
position: relative;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
font-family: Outfit;
font-size: 13px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0.03em;
text-align: center;
color: rgba(54, 69, 79, 1);

}
.Home-2{
width: 124.83px;;
height: 45px;
top: 10px;
/* left: 126px; */
position: relative;
border-radius: 50px;

}

@media (min-width:768px) {
    

    Body{
        background: linear-gradient(270deg, rgba(230, 143, 80, 0.1) 0%, rgba(10, 86, 241, 0.1) 100%);
    }
.wrapper{
    width: 1280px;
height: 685px;
top: 100px;
position: relative;

left: 80px;
background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);

}
.content{
width: 1280px;
position: relative;
height: 685px;
top: 40px;
left: 80px;
@media (min-width:600) {
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
}

border-radius: 25px;
}
.content-left-heading{
width: 569px;
position: absolute;
height: 100px;
top: 40px;
left: 70px;
font-family: Outfit;
font-size: 40px;
font-weight: 600;
line-height: 50px;
letter-spacing: 0em;
text-align: left;
color: #0A56F1;



}

.content-left-text{
    position: absolute;
    width: 675px;
    height: 280px;
    top: 180px;
    left: 70px;
    font-family: Outfit;
    font-size: 22px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #36454F;
        
}
.image{
position: relative;
width: 549px;
height: 550px;
left: 720px;
bottom: 20px;
}
.Call-Box{
width: 200px;
height: 38px;
text-align: center;
margin: 5px;
position: relative;
left: 120px;
border-radius: 50px;
background: #E68F50;
}
.phone-image{
width: 35px;
height: 35px;
top: 700px;
left: 132px;
position: relative;

}
.text{
width: 134px;
height: 32px;
top: 702.5px;
left: 180px;
font-family: Outfit;
font-size: 25px;
font-weight: 600;
line-height: 32px;
letter-spacing: 0.03em;
text-align: left;
color: #FFFFFF;

}
.phone-container{
width: 30px;
height: 30px;
top: 700px;
left: 132px;
padding: 2.92px, 6.69px, 2.92px, 7.89px;
background-color: white;
border-radius: 50px;

}
.Home-2{
    height: 78px;
    width: 214px;
    right: 230px;
    }
.content-left{
        display: flex;
        flex-direction: column;
  }  
}

